openapi: 3.0.3
info:
  title: Dashboard Persuratan PBNU API
  description: |
    API for the Dashboard Persuratan PBNU system - a comprehensive monitoring dashboard 
    for digital correspondence implementation across PBNU organizational structure.
    
    This API provides endpoints for:
    - Dashboard overview statistics
    - Organization activation monitoring 
    - Letter management statistics
    - Time-series trend analysis
    - Data filtering and export functionality
  version: 1.0.0
  contact:
    name: PBNU Digital Correspondence Team
    email: tech@pbnu.org
    url: https://pbnu.org
  license:
    name: Proprietary
    url: https://pbnu.org/license

servers:
  - url: https://api.persuratan-pbnu.com/v1
    description: Production server
  - url: https://staging-api.persuratan-pbnu.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /dashboard/statistics:
    get:
      tags:
        - Dashboard
      summary: Get dashboard overview statistics
      description: Retrieve main dashboard statistics including total organizations, activated accounts, letters, and other key metrics
      responses:
        '200':
          description: Statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/activation:
    get:
      tags:
        - Dashboard
      summary: Get organization activation data
      description: Retrieve account activation data by organization with ranking, filtering, and pagination
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Kepengurusan'
        - $ref: '#/components/parameters/Wilayah'
        - $ref: '#/components/parameters/Cabang'
        - $ref: '#/components/parameters/Lembaga'
        - $ref: '#/components/parameters/Tingkat'
        - $ref: '#/components/parameters/Status'
      responses:
        '200':
          description: Activation data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/organization-statistics:
    get:
      tags:
        - Dashboard
      summary: Get organization letter statistics
      description: Retrieve letter management statistics per organization including sent/received letters, dispositions, and memos
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Kepengurusan'
        - $ref: '#/components/parameters/Wilayah'
        - $ref: '#/components/parameters/Cabang'
        - $ref: '#/components/parameters/Lembaga'
        - $ref: '#/components/parameters/Tingkat'
      responses:
        '200':
          description: Organization statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationStatsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/trends:
    get:
      tags:
        - Dashboard
      summary: Get letter volume trends
      description: Retrieve time-series data for letter volume trends with various time aggregations
      parameters:
        - name: timeRange
          in: query
          description: Time aggregation period
          required: false
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
        - name: dateFrom
          in: query
          description: Start date for trend analysis (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          description: End date for trend analysis (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: managementId
          in: query
          description: Filter by specific organization ID
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Trend data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/filters:
    get:
      tags:
        - Dashboard
      summary: Get filter options
      description: Retrieve available filter options for dropdowns and search functionality
      responses:
        '200':
          description: Filter options retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterOptionsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/export:
    post:
      tags:
        - Dashboard
      summary: Export dashboard data
      description: Export dashboard data in various formats (CSV, Excel, PDF)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: Export completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/search:
    get:
      tags:
        - Dashboard
      summary: Search organizations
      description: Search organizations and get autocomplete suggestions
      parameters:
        - name: q
          in: query
          description: Search query string
          required: true
          schema:
            type: string
            minLength: 2
        - name: type
          in: query
          description: Type of search
          required: false
          schema:
            type: string
            enum: [organization, user, letter]
            default: organization
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    StatisticsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Statistics retrieved successfully"
        data:
          type: object
          properties:
            totalKepengurusan:
              $ref: '#/components/schemas/StatisticItem'
            pengurusTerhubung:
              allOf:
                - $ref: '#/components/schemas/StatisticItem'
                - type: object
                  properties:
                    connected:
                      type: integer
                      example: 152
                    total:
                      type: integer
                      example: 184
                    percentage:
                      type: number
                      format: float
                      example: 82.6
            suratTerkirim:
              $ref: '#/components/schemas/StatisticItem'
            suratMasuk:
              $ref: '#/components/schemas/StatisticItem'
            logDisposisi:
              $ref: '#/components/schemas/StatisticItem'
            memo:
              $ref: '#/components/schemas/StatisticItem'
        timestamp:
          type: string
          format: date-time
          example: "2025-09-01T10:30:00Z"

    StatisticItem:
      type: object
      properties:
        value:
          type: string
          example: "10,621"
        description:
          type: string
          example: "pengurus terhubung"
        trend:
          type: number
          format: float
          description: "Percentage change from previous period"
          example: 5.2

    ActivationResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Activation data retrieved successfully"
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationActivation'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    OrganizationActivation:
      type: object
      properties:
        ranking:
          type: integer
          example: 1
        nama:
          type: string
          example: "PBNU"
        tingkat:
          type: string
          enum: [Pusat, Wilayah, Cabang]
          example: "Pusat"
        kepengurusan:
          type: string
          enum: [Pengurus, Lembaga]
          example: "Pengurus"
        aktivasi:
          type: string
          description: "Active/Total users format"
          example: "47/50"
        status:
          type: string
          enum: [Baik, Sedang, Buruk]
          example: "Baik"
        percentage:
          type: number
          format: float
          example: 94.0
        connectedUsers:
          type: integer
          example: 47
        totalUsers:
          type: integer
          example: 50
        lastActivity:
          type: string
          format: date-time
          example: "2025-09-01T08:30:00Z"
        implementationDate:
          type: string
          format: date
          example: "2025-06-30"

    OrganizationStatsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Organization statistics retrieved successfully"
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationStatistics'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    OrganizationStatistics:
      type: object
      properties:
        no:
          type: integer
          example: 1
        nama:
          type: string
          example: "PBNU"
        tingkat:
          type: string
          enum: [Pusat, Wilayah, Cabang]
          example: "Pusat"
        kepengurusan:
          type: string
          enum: [Pengurus, Lembaga]
          example: "Pengurus"
        tanggalMulai:
          type: string
          format: date
          example: "2025-06-30"
        suratKeluar:
          type: integer
          example: 1400
        suratMasuk:
          type: integer
          example: 1220
        logDisposisi:
          type: integer
          example: 1365
        memo:
          type: integer
          example: 1310
        efficiency:
          type: number
          format: float
          description: "Calculated efficiency score"
          example: 95.2

    TrendResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Trend data retrieved successfully"
        data:
          type: object
          properties:
            labels:
              type: array
              items:
                type: string
              example: ["20 Jun", "21 Jun", "22 Jun", "23 Jun", "24 Jun", "25 Jun"]
            data:
              type: array
              items:
                type: integer
              example: [150, 200, 180, 220, 250, 300]
            statistics:
              type: object
              properties:
                total:
                  type: integer
                  example: 1300
                average:
                  type: number
                  format: float
                  example: 216.7
                highest:
                  type: integer
                  example: 300
                lowest:
                  type: integer
                  example: 150
                trend:
                  type: number
                  format: float
                  description: "Percentage change over period"
                  example: 15.8
            timeRange:
              type: string
              enum: [daily, weekly, monthly]
              example: "daily"
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date
                  example: "2025-06-20"
                to:
                  type: string
                  format: date
                  example: "2025-06-25"

    FilterOptionsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Filter options retrieved successfully"
        data:
          type: object
          properties:
            kepengurusan:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            wilayah:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            cabang:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/FilterOption'
                  - type: object
                    properties:
                      provinceCode:
                        type: string
                        example: "32"
                      regencyCode:
                        type: string
                        example: "3201"
            lembaga:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            tingkat:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            status:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/FilterOption'
                  - type: object
                    properties:
                      description:
                        type: string
                        example: "Activation rate >= 80%"

    FilterOption:
      type: object
      properties:
        value:
          type: string
          example: "Pusat"
        label:
          type: string
          example: "Tingkat Pusat"
        count:
          type: integer
          example: 8

    ExportRequest:
      type: object
      required:
        - type
        - format
      properties:
        type:
          type: string
          enum: [activation, statistics, trends]
          description: "Type of data to export"
          example: "activation"
        format:
          type: string
          enum: [csv, excel, pdf]
          description: "Export format"
          example: "csv"
        filters:
          type: object
          properties:
            kepengurusan:
              type: string
            wilayah:
              type: string
            dateFrom:
              type: string
              format: date
            dateTo:
              type: string
              format: date
        includeCharts:
          type: boolean
          description: "Include charts in PDF export"
          example: true

    ExportResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Export completed successfully"
        data:
          type: object
          properties:
            downloadUrl:
              type: string
              format: uri
              example: "https://api.persuratan-pbnu.com/exports/download/abc123"
            filename:
              type: string
              example: "dashboard-activation-2025-09-01.csv"
            expiresAt:
              type: string
              format: date-time
              example: "2025-09-01T14:30:00Z"
            fileSize:
              type: integer
              description: "File size in bytes"
              example: 1024576

    SearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Search completed successfully"
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 1
              name:
                type: string
                example: "PBNU"
              type:
                type: string
                example: "organization"
              level:
                type: string
                example: "Pusat"
              category:
                type: string
                example: "Pengurus"
              matchType:
                type: string
                enum: [exact, partial, fuzzy]
                example: "exact"
              relevanceScore:
                type: number
                format: float
                example: 0.95

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 10
        total:
          type: integer
          example: 184
        total_pages:
          type: integer
          example: 19

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "An error occurred"
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: "email"
              code:
                type: string
                example: "VALIDATION_ERROR"
              message:
                type: string
                example: "Invalid email format"
        timestamp:
          type: string
          format: date-time
          example: "2025-09-01T10:30:00Z"

  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    Limit:
      name: limit
      in: query
      description: Number of records per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

    Kepengurusan:
      name: kepengurusan
      in: query
      description: Organization name search filter
      required: false
      schema:
        type: string

    Wilayah:
      name: wilayah
      in: query
      description: Region filter
      required: false
      schema:
        type: string
        enum: [Pusat, Wilayah, Cabang]

    Cabang:
      name: cabang
      in: query
      description: Branch/province code filter
      required: false
      schema:
        type: string

    Lembaga:
      name: lembaga
      in: query
      description: Institution category filter
      required: false
      schema:
        type: string
        enum: [Pengurus, Lembaga]

    Tingkat:
      name: tingkat
      in: query
      description: Organizational level filter
      required: false
      schema:
        type: string

    Status:
      name: status
      in: query
      description: Activation status filter
      required: false
      schema:
        type: string
        enum: [Baik, Sedang, Buruk]

  responses:
    BadRequestError:
      description: Bad request - Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Invalid request parameters"
            errors:
              - field: "page"
                code: "INVALID_VALUE"
                message: "Page must be a positive integer"
            timestamp: "2025-09-01T10:30:00Z"

    UnauthorizedError:
      description: Unauthorized - Invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Authentication required"
            timestamp: "2025-09-01T10:30:00Z"

    ValidationError:
      description: Validation error - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Validation failed"
            errors:
              - field: "format"
                code: "INVALID_ENUM"
                message: "Format must be one of: csv, excel, pdf"
            timestamp: "2025-09-01T10:30:00Z"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "An internal server error occurred"
            timestamp: "2025-09-01T10:30:00Z"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header:
        `Authorization: Bearer <token>`

tags:
  - name: Dashboard
    description: Dashboard overview and analytics endpoints