openapi: 3.0.3
info:
  title: Dashboard Persuratan PBNU API
  description: |
    API for the Dashboard Persuratan PBNU system - a comprehensive monitoring dashboard 
    for digital correspondence implementation across PBNU organizational structure.
    
    This API provides endpoints for:
    - Dashboard overview statistics
    - Organization activation monitoring 
    - Letter management statistics
    - Time-series trend analysis
    - Data filtering and export functionality
  version: 1.0.0
  contact:
    name: PBNU Digital Correspondence Team
    email: tech@pbnu.org
    url: https://pbnu.org
  license:
    name: Proprietary
    url: https://pbnu.org/license

servers:
  - url: https://api.persuratan-pbnu.com/v1
    description: Production server
  - url: https://staging-api.persuratan-pbnu.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /dashboard/statistics:
    get:
      tags:
        - Dashboard
      summary: Get dashboard overview statistics
      description: Retrieve main dashboard statistics including total organizations, activated accounts, letters, and other key metrics
      responses:
        '200':
          description: Statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/activation:
    get:
      tags:
        - Dashboard
      summary: Get organization activation data
      description: Retrieve account activation data by organization with ranking, filtering, and pagination
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Kepengurusan'
        - $ref: '#/components/parameters/Wilayah'
        - $ref: '#/components/parameters/Cabang'
        - $ref: '#/components/parameters/Lembaga'
        - $ref: '#/components/parameters/Tingkat'
        - $ref: '#/components/parameters/Status'
      responses:
        '200':
          description: Activation data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/organization-statistics:
    get:
      tags:
        - Dashboard
      summary: Get organization letter statistics
      description: Retrieve letter management statistics per organization including sent/received letters, dispositions, and memos
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Kepengurusan'
        - $ref: '#/components/parameters/Wilayah'
        - $ref: '#/components/parameters/Cabang'
        - $ref: '#/components/parameters/Lembaga'
        - $ref: '#/components/parameters/Tingkat'
      responses:
        '200':
          description: Organization statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationStatsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/trends:
    get:
      tags:
        - Dashboard
      summary: Get letter volume trends
      description: Retrieve time-series data for letter volume trends with various time aggregations
      parameters:
        - name: timeRange
          in: query
          description: Time aggregation period
          required: false
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
        - name: dateFrom
          in: query
          description: Start date for trend analysis (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          description: End date for trend analysis (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: managementId
          in: query
          description: Filter by specific organization ID
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Trend data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/filters:
    get:
      tags:
        - Dashboard
      summary: Get filter options
      description: Retrieve available filter options for dropdowns and search functionality
      responses:
        '200':
          description: Filter options retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterOptionsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/export:
    post:
      tags:
        - Dashboard
      summary: Export dashboard data
      description: Export dashboard data in various formats (CSV, Excel, PDF)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: Export completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/search:
    get:
      tags:
        - Dashboard
      summary: Search organizations
      description: Search organizations and get autocomplete suggestions
      parameters:
        - name: q
          in: query
          description: Search query string
          required: true
          schema:
            type: string
            minLength: 2
        - name: type
          in: query
          description: Type of search
          required: false
          schema:
            type: string
            enum: [organization, user, letter]
            default: organization
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/schedules:
    get:
      tags:
        - Schedules
      summary: List scheduled reports
      description: Get list of scheduled reports for the current user
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          description: Filter by status
          required: false
          schema:
            type: string
            enum: [active, inactive, all]
            default: all
        - name: reportType
          in: query
          description: Filter by report type
          required: false
          schema:
            type: string
            enum: [overview, activation, statistics, trends, complete]
      responses:
        '200':
          description: Scheduled reports retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulesListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    post:
      tags:
        - Schedules
      summary: Create scheduled report
      description: Create a new scheduled report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduleRequest'
      responses:
        '201':
          description: Schedule created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/dashboard/schedules/{id}':
    get:
      tags:
        - Schedules
      summary: Get schedule details
      description: Get details of a specific scheduled report
      parameters:
        - name: id
          in: path
          description: Schedule ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Schedule details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleDetailResponse'
        '404':
          description: Schedule not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    put:
      tags:
        - Schedules
      summary: Update scheduled report
      description: Update an existing scheduled report
      parameters:
        - name: id
          in: path
          description: Schedule ID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduleRequest'
      responses:
        '200':
          description: Schedule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Schedule not found
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    delete:
      tags:
        - Schedules
      summary: Delete scheduled report
      description: Delete a scheduled report
      parameters:
        - name: id
          in: path
          description: Schedule ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Schedule deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Schedule deleted successfully"
        '404':
          description: Schedule not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/dashboard/schedules/{id}/execute':
    post:
      tags:
        - Schedules
      summary: Execute scheduled report
      description: Manually trigger a scheduled report execution
      parameters:
        - name: id
          in: path
          description: Schedule ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Execution triggered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteScheduleResponse'
        '404':
          description: Schedule not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/dashboard/schedules/{id}/executions':
    get:
      tags:
        - Schedules
      summary: Get execution history
      description: Get execution history for a scheduled report
      parameters:
        - name: id
          in: path
          description: Schedule ID
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Execution history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionHistoryResponse'
        '404':
          description: Schedule not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/share/generate-link:
    post:
      tags:
        - Sharing
      summary: Generate shareable link
      description: Generate a secure shareable link with expiration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateLinkRequest'
      responses:
        '200':
          description: Shareable link generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/dashboard/share/{token}':
    get:
      tags:
        - Sharing
      summary: Access shared dashboard
      description: Access dashboard via shareable link
      parameters:
        - name: token
          in: path
          description: Share token
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to dashboard with filters applied
        '404':
          description: Share link not found or expired
        '500':
          $ref: '#/components/responses/InternalServerError'

  /dashboard/export/advanced:
    post:
      tags:
        - Export
      summary: Advanced export
      description: Advanced export with custom options and branding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedExportRequest'
      responses:
        '200':
          description: Export completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedExportResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    StatisticsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Statistics retrieved successfully"
        data:
          type: object
          properties:
            totalKepengurusan:
              $ref: '#/components/schemas/StatisticItem'
            pengurusTerhubung:
              allOf:
                - $ref: '#/components/schemas/StatisticItem'
                - type: object
                  properties:
                    connected:
                      type: integer
                      example: 152
                    total:
                      type: integer
                      example: 184
                    percentage:
                      type: number
                      format: float
                      example: 82.6
            suratTerkirim:
              $ref: '#/components/schemas/StatisticItem'
            suratMasuk:
              $ref: '#/components/schemas/StatisticItem'
            logDisposisi:
              $ref: '#/components/schemas/StatisticItem'
            memo:
              $ref: '#/components/schemas/StatisticItem'
        timestamp:
          type: string
          format: date-time
          example: "2025-09-01T10:30:00Z"

    StatisticItem:
      type: object
      properties:
        value:
          type: string
          example: "10,621"
        description:
          type: string
          example: "pengurus terhubung"
        trend:
          type: number
          format: float
          description: "Percentage change from previous period"
          example: 5.2

    ActivationResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Activation data retrieved successfully"
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationActivation'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    OrganizationActivation:
      type: object
      properties:
        ranking:
          type: integer
          example: 1
        nama:
          type: string
          example: "PBNU"
        tingkat:
          type: string
          enum: [Pusat, Wilayah, Cabang]
          example: "Pusat"
        kepengurusan:
          type: string
          enum: [Pengurus, Lembaga]
          example: "Pengurus"
        aktivasi:
          type: string
          description: "Active/Total users format"
          example: "47/50"
        status:
          type: string
          enum: [Baik, Sedang, Buruk]
          example: "Baik"
        percentage:
          type: number
          format: float
          example: 94.0
        connectedUsers:
          type: integer
          example: 47
        totalUsers:
          type: integer
          example: 50
        lastActivity:
          type: string
          format: date-time
          example: "2025-09-01T08:30:00Z"
        implementationDate:
          type: string
          format: date
          example: "2025-06-30"

    OrganizationStatsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Organization statistics retrieved successfully"
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationStatistics'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    OrganizationStatistics:
      type: object
      properties:
        no:
          type: integer
          example: 1
        nama:
          type: string
          example: "PBNU"
        tingkat:
          type: string
          enum: [Pusat, Wilayah, Cabang]
          example: "Pusat"
        kepengurusan:
          type: string
          enum: [Pengurus, Lembaga]
          example: "Pengurus"
        tanggalMulai:
          type: string
          format: date
          example: "2025-06-30"
        suratKeluar:
          type: integer
          example: 1400
        suratMasuk:
          type: integer
          example: 1220
        logDisposisi:
          type: integer
          example: 1365
        memo:
          type: integer
          example: 1310
        efficiency:
          type: number
          format: float
          description: "Calculated efficiency score"
          example: 95.2

    TrendResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Trend data retrieved successfully"
        data:
          type: object
          properties:
            labels:
              type: array
              items:
                type: string
              example: ["20 Jun", "21 Jun", "22 Jun", "23 Jun", "24 Jun", "25 Jun"]
            data:
              type: array
              items:
                type: integer
              example: [150, 200, 180, 220, 250, 300]
            statistics:
              type: object
              properties:
                total:
                  type: integer
                  example: 1300
                average:
                  type: number
                  format: float
                  example: 216.7
                highest:
                  type: integer
                  example: 300
                lowest:
                  type: integer
                  example: 150
                trend:
                  type: number
                  format: float
                  description: "Percentage change over period"
                  example: 15.8
            timeRange:
              type: string
              enum: [daily, weekly, monthly]
              example: "daily"
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date
                  example: "2025-06-20"
                to:
                  type: string
                  format: date
                  example: "2025-06-25"

    FilterOptionsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Filter options retrieved successfully"
        data:
          type: object
          properties:
            kepengurusan:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            wilayah:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            cabang:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/FilterOption'
                  - type: object
                    properties:
                      provinceCode:
                        type: string
                        example: "32"
                      regencyCode:
                        type: string
                        example: "3201"
            lembaga:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            tingkat:
              type: array
              items:
                $ref: '#/components/schemas/FilterOption'
            status:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/FilterOption'
                  - type: object
                    properties:
                      description:
                        type: string
                        example: "Activation rate >= 80%"

    FilterOption:
      type: object
      properties:
        value:
          type: string
          example: "Pusat"
        label:
          type: string
          example: "Tingkat Pusat"
        count:
          type: integer
          example: 8

    ExportRequest:
      type: object
      required:
        - type
        - format
      properties:
        type:
          type: string
          enum: [activation, statistics, trends]
          description: "Type of data to export"
          example: "activation"
        format:
          type: string
          enum: [csv, excel, pdf]
          description: "Export format"
          example: "csv"
        filters:
          type: object
          properties:
            kepengurusan:
              type: string
            wilayah:
              type: string
            dateFrom:
              type: string
              format: date
            dateTo:
              type: string
              format: date
        includeCharts:
          type: boolean
          description: "Include charts in PDF export"
          example: true

    ExportResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Export completed successfully"
        data:
          type: object
          properties:
            downloadUrl:
              type: string
              format: uri
              example: "https://api.persuratan-pbnu.com/exports/download/abc123"
            filename:
              type: string
              example: "dashboard-activation-2025-09-01.csv"
            expiresAt:
              type: string
              format: date-time
              example: "2025-09-01T14:30:00Z"
            fileSize:
              type: integer
              description: "File size in bytes"
              example: 1024576

    SearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Search completed successfully"
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 1
              name:
                type: string
                example: "PBNU"
              type:
                type: string
                example: "organization"
              level:
                type: string
                example: "Pusat"
              category:
                type: string
                example: "Pengurus"
              matchType:
                type: string
                enum: [exact, partial, fuzzy]
                example: "exact"
              relevanceScore:
                type: number
                format: float
                example: 0.95

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 10
        total:
          type: integer
          example: 184
        total_pages:
          type: integer
          example: 19

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "An error occurred"
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: "email"
              code:
                type: string
                example: "VALIDATION_ERROR"
              message:
                type: string
                example: "Invalid email format"
        timestamp:
          type: string
          format: date-time
          example: "2025-09-01T10:30:00Z"

    # Schedule Management Schemas
    CreateScheduleRequest:
      type: object
      required:
        - name
        - reportType
        - frequency
        - schedule
        - recipients
        - formats
      properties:
        name:
          type: string
          example: "Weekly PBNU Overview"
        reportType:
          type: string
          enum: [overview, activation, statistics, trends, complete]
          example: "overview"
        frequency:
          type: string
          enum: [daily, weekly, monthly]
          example: "weekly"
        schedule:
          type: object
          properties:
            dayOfWeek:
              type: integer
              minimum: 0
              maximum: 6
              description: "0=Sunday, 1=Monday, etc. Required for weekly"
              example: 1
            dayOfMonth:
              oneOf:
                - type: integer
                  minimum: 1
                  maximum: 31
                - type: string
                  enum: [last]
              description: "Day of month (1-31) or 'last'. Required for monthly"
              example: 15
            time:
              type: string
              pattern: "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
              example: "09:00"
          required:
            - time
        recipients:
          type: array
          items:
            type: string
            format: email
          minItems: 1
          example: ["admin@pbnu.org", "manager@pbnu.org"]
        formats:
          type: array
          items:
            type: string
            enum: [pdf, excel]
          minItems: 1
          example: ["pdf", "excel"]
        filters:
          type: object
          additionalProperties: true
          example:
            wilayah: "Pusat"
            tingkat: "Pengurus"
        customMessage:
          type: string
          example: "Weekly dashboard report for PBNU management."
        isActive:
          type: boolean
          default: true

    UpdateScheduleRequest:
      type: object
      properties:
        name:
          type: string
        recipients:
          type: array
          items:
            type: string
            format: email
          minItems: 1
        isActive:
          type: boolean
        customMessage:
          type: string
        schedule:
          type: object
          properties:
            dayOfWeek:
              type: integer
              minimum: 0
              maximum: 6
            dayOfMonth:
              oneOf:
                - type: integer
                  minimum: 1
                  maximum: 31
                - type: string
                  enum: [last]
            time:
              type: string
              pattern: "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"

    ScheduleResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Schedule created successfully"
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            name:
              type: string
              example: "Weekly PBNU Overview"
            reportType:
              type: string
              example: "overview"
            frequency:
              type: string
              example: "weekly"
            schedule:
              type: object
              additionalProperties: true
              example:
                dayOfWeek: 1
                time: "09:00"
            recipients:
              type: array
              items:
                type: string
              example: ["admin@pbnu.org", "manager@pbnu.org"]
            formats:
              type: array
              items:
                type: string
              example: ["pdf", "excel"]
            filters:
              type: object
              additionalProperties: true
            customMessage:
              type: string
            isActive:
              type: boolean
              example: true
            nextExecution:
              type: string
              format: date-time
              example: "2025-09-08T09:00:00Z"
            createdAt:
              type: string
              format: date-time
              example: "2025-09-01T10:30:00Z"
            updatedAt:
              type: string
              format: date-time
              example: "2025-09-01T10:30:00Z"

    SchedulesListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Scheduled reports retrieved successfully"
        data:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleResponse/properties/data'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ScheduleDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Schedule details retrieved successfully"
        data:
          allOf:
            - $ref: '#/components/schemas/ScheduleResponse/properties/data'
            - type: object
              properties:
                executions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      executionTime:
                        type: string
                        format: date-time
                      status:
                        type: string
                        enum: [success, failed, partial]
                      recipientsSent:
                        type: integer
                      recipientsFailed:
                        type: integer
                      executionDuration:
                        type: integer
                        description: "Duration in milliseconds"
                      errorMessage:
                        type: string
                nextExecutions:
                  type: array
                  items:
                    type: string
                    format: date-time
                  description: "Next 5 scheduled execution times"

    ExecuteScheduleResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Execution triggered successfully"
        data:
          type: object
          properties:
            executionId:
              type: string
              format: uuid
              example: "456e7890-e89b-12d3-a456-426614174001"
            status:
              type: string
              enum: [queued, processing, completed, failed]
              example: "queued"
            estimatedCompletion:
              type: string
              format: date-time
              example: "2025-09-01T10:35:00Z"

    ExecutionHistoryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Execution history retrieved successfully"
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              executionTime:
                type: string
                format: date-time
              status:
                type: string
                enum: [success, failed, partial]
              recipientsSent:
                type: integer
              recipientsFailed:
                type: integer
              filePaths:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [pdf, excel]
                    path:
                      type: string
                    size:
                      type: integer
              executionDuration:
                type: integer
              errorMessage:
                type: string
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # Enhanced Sharing Schemas
    GenerateLinkRequest:
      type: object
      required:
        - expiration
      properties:
        expiration:
          type: string
          enum: ['24h', '7d', '30d', 'never']
          example: "7d"
        filters:
          type: object
          additionalProperties: true
          example:
            wilayah: "Pusat"
            tingkat: "Pengurus"
        includeCharts:
          type: boolean
          default: true
        customMessage:
          type: string

    GenerateLinkResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Shareable link generated successfully"
        data:
          type: object
          properties:
            shareableUrl:
              type: string
              format: uri
              example: "https://dashboard.persuratan-pbnu.com/share/abc123def456"
            shareToken:
              type: string
              example: "abc123def456"
            expiresAt:
              type: string
              format: date-time
              nullable: true
              example: "2025-09-08T10:30:00Z"
            createdAt:
              type: string
              format: date-time
              example: "2025-09-01T10:30:00Z"

    AdvancedExportRequest:
      type: object
      required:
        - reportType
        - format
      properties:
        reportType:
          type: string
          enum: [overview, activation, statistics, trends, complete]
          example: "complete"
        format:
          type: string
          enum: [pdf, excel, csv]
          example: "pdf"
        options:
          type: object
          properties:
            includeCharts:
              type: boolean
              default: true
            includeSummary:
              type: boolean
              default: true
            customTitle:
              type: string
              example: "PBNU Monthly Report"
            dateRange:
              type: object
              properties:
                from:
                  type: string
                  format: date
                  example: "2025-08-01"
                to:
                  type: string
                  format: date
                  example: "2025-08-31"
        filters:
          type: object
          additionalProperties: true
          example:
            wilayah: "Pusat"
        branding:
          type: object
          properties:
            logo:
              type: boolean
              default: true
            organizationName:
              type: string
              example: "PBNU Pusat"
            reportDate:
              type: string
              format: date
              example: "2025-09-01"

    AdvancedExportResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Export completed successfully"
        data:
          type: object
          properties:
            downloadUrl:
              type: string
              format: uri
              example: "https://api.persuratan-pbnu.com/exports/download/report123.pdf"
            filename:
              type: string
              example: "pbnu-monthly-report-2025-09-01.pdf"
            expiresAt:
              type: string
              format: date-time
              example: "2025-09-01T14:30:00Z"
            fileSize:
              type: integer
              description: "File size in bytes"
              example: 2048576
            format:
              type: string
              example: "pdf"
            pages:
              type: integer
              description: "Number of pages (PDF only)"
              example: 12
            records:
              type: integer
              description: "Number of data records (Excel/CSV only)"
              example: 1500

  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    Limit:
      name: limit
      in: query
      description: Number of records per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

    Kepengurusan:
      name: kepengurusan
      in: query
      description: Organization name search filter
      required: false
      schema:
        type: string

    Wilayah:
      name: wilayah
      in: query
      description: Region filter
      required: false
      schema:
        type: string
        enum: [Pusat, Wilayah, Cabang]

    Cabang:
      name: cabang
      in: query
      description: Branch/province code filter
      required: false
      schema:
        type: string

    Lembaga:
      name: lembaga
      in: query
      description: Institution category filter
      required: false
      schema:
        type: string
        enum: [Pengurus, Lembaga]

    Tingkat:
      name: tingkat
      in: query
      description: Organizational level filter
      required: false
      schema:
        type: string

    Status:
      name: status
      in: query
      description: Activation status filter
      required: false
      schema:
        type: string
        enum: [Baik, Sedang, Buruk]

  responses:
    BadRequestError:
      description: Bad request - Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Invalid request parameters"
            errors:
              - field: "page"
                code: "INVALID_VALUE"
                message: "Page must be a positive integer"
            timestamp: "2025-09-01T10:30:00Z"

    UnauthorizedError:
      description: Unauthorized - Invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Authentication required"
            timestamp: "2025-09-01T10:30:00Z"

    ValidationError:
      description: Validation error - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Validation failed"
            errors:
              - field: "format"
                code: "INVALID_ENUM"
                message: "Format must be one of: csv, excel, pdf"
            timestamp: "2025-09-01T10:30:00Z"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "An internal server error occurred"
            timestamp: "2025-09-01T10:30:00Z"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header:
        `Authorization: Bearer <token>`

tags:
  - name: Dashboard
    description: Dashboard overview and analytics endpoints
  - name: Schedules
    description: Scheduled report management endpoints
  - name: Sharing
    description: Enhanced sharing and link generation endpoints
  - name: Export
    description: Advanced export functionality with custom branding